@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');

@font-face{
  font-family:"OCRAEXT";
  src: url('assets/fonts/OCRAEXT.TTF') format('truetype');
}

@font-face{
  font-family:"MS Yi BaiTi";
  src: url('assets/fonts/msyi.ttf') format('truetype');
}

html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

/* Split the screen in half */
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 0px;

  background-color: white;
  background-image: url('assets/images/website/bg_png_gif.gif');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/* Control the left side */
.left {
  left: 0;
}
.left-logo{
  display: flex;
  justify-content: center;
  height: 100%;
}

.right-logo{
  margin-top:1em;
  display: flex;
  overflow: hidden;
  justify-content: center;
  height: 100%;
}

.left .center {
  width:90%;
  display: block;
  margin:auto;
}

.right .center {
  width:80%;
  position:relative;
  display: block;
  margin:auto;
  max-width:80%;
  max-height:100%;
  object-fit: contain;
}

header{
  position:sticky;
  top:0;
  padding-top:20px;
  padding-bottom:10px;
  width:100%;
  z-index:10;

  background-image: url('assets/images/website/bg_png_gif.gif');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

main{
  display:block;
  padding: 0;
}

/* Control the right side */
.right {
  right: 0;
  overflow-y: scroll;
  /*border: 5px solid red;*/
}

.box{
  -webkit-box-shadow: 0 0 11px rgb(255 255 255);
  -moz-box-shadow: 0 0 11px rgba(255, 255, 255, 1);
  background: rgba(255,255,255,1);
  margin: 35px;
  padding: 5px 20px 5px 20px;
  border: 1px solid #b4b3b3;
  border-radius: 15px;
  position: relative;
}

.no-box{
  display:inline-block;
  margin: 35px;
  padding: 0px;
  position: relative;
}

h1, h2, p {
}

h2{
  font-size:1.75em;
  line-height:0.8;
  font-family: 'OCRAEXT', serif;
  text-align: center;
}

p,ol{
  font-size:1.3em;
  font-family: 'MS Yi BaiTi', serif;
}

ol{
  padding: 0px 20px 0px 40px;
}

footer{
  display:block;
  margin:2em;
}

.entrance-video{
  max-width: 100%;
  max-height: 100%;
  z-index: 5;
  -webkit-box-shadow: 0 0 11px rgb(255 255 255);
  -moz-box-shadow: 0 0 11px rgba(255, 255, 255, 1);
}

.above-video{
  position: absolute;
  z-index:8;
}

.play-on-hover{
  display:none;
}

.hide-on-hover{
  display:block;
}

.PlaySfwonderland{
  background: url("assets/images/website/playbutton_withplate idle 500p.png");
  background-repeat: no-repeat;
  background-color: transparent;
  background-size:cover;

  border:0;
  outline-width:0;
  cursor: default;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40%;
  height: 60%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.PlaySfwonderland:hover{
  background: url("assets/images/website/playbutton_withplate.gif");
  background-repeat: no-repeat;
  background-color: transparent;
  background-size:cover;

  border:0;
  outline-width:0;
  cursor:pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40%;
  height: 60%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.PlaySfwonderland:hover~.hide-on-hover{
  display:none;
}

.PlaySfwonderland:hover~.play-on-hover{
  display:block;
}
